<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #6a4343;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    container.container {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="email"],
    input[type="password"] 
    input[type="nama"] 
    input[type="address"]{
        width: 100%;
        padding: 10px;
    }

    button {
        width: 106%;
        padding: 10px;
        background-color: #fc0000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #533131;
    }
    </style>
<body>
    <form action="/register" method="POST">
        <h1>Register</h1>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="nama" name="nama" placeholder="nama" required>
        <input type="address" name="address" placeholder="address" required>
        <button type="submit">Register</button>
        <p>Sudah Memiliki Akun? <a href="/login">Login disini</a></p>
    </form>
</body>
</html>